html {
  text-align:center;
  font-family: Helvetica;
}

.header {
  background-image: url(https://87designer.github.io/broadway/resources/images/the-flatiron-building.png);
}

.topnav {
  list-style: none;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;

}

.footer li {
  display: inline;
}

.copyright {
  font-size: 11px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

li {
  margin: 10px;
}

a {
  color: white;
}
