body {
  text-align:center;
  font-family: Helvetica;
}

.header {
  background-image: url(https://87designer.github.io/broadway/resources/images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
}

.header li {
  margin: 10px;
}

.header ul {
  padding-left: 0px;
}

ul {
  list-style: none;
}

.footer {
  background-color: dimgray;
  text-align: left;
  color: white;
}

.footer ul {
  padding-left: 0px;
}

.footer li {
  display: inline;
}

.copyright {
  font-size: 11px;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.h3bkg {
  background-image: url(https://87designer.github.io/broadway/resources/images/the-flatiron-building.png);
  background-position: center;
  background-size: cover;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

p {
  font-size: 14px;
}

a {
  color: white;
}
